{% extends 'base.html' %}
{% block content %}

<h1>Quiz Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{quiz.title}}</span>
        <p>Description: {{ quiz.description }}</p>
        <p>Created at: {{quiz.created_at}}</p>
        <p>Updated: {{quiz.created_at}}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'quiz_update' quiz.id %}">Edit</a>
        <a href="{% url 'quiz_delete' quiz.id %}">Delete</a>
    </div>
    <div>
        
    </div>
    <form action="{% url 'question_create' quiz.id %}" method='post'>
        {% csrf_token %}
        {{ question_form.as_p }}
        <input type="submit" class="btn" value="Add Question">
    </form>

</div>

<a href="{% url 'quizzes' %}">Return to Quizzes</a>

{% endblock %}