{% extends 'base.html' %}
{% block content %}

<h4><p>Current Quiz: {{quiz.title}}</p></h4>
<p>There are {{quiz.question_set.all|length}} questions on this quiz.<p>
<p>[[Directions]]</p>

{% for question in quiz.question_set.all %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Question {{forloop.counter}}: {{question}}</span>
        </div>
        <div class="card-action">
            <table class="striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Answer Choice</th>
                        <th>Correct?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for answer in question.answer_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class='test-me'>{{ answer }}</td>
                            <td><p>{{answer.is_correct}}</p></td>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}

{% endblock %}